*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    background:#06121f;
    color:white;

}



/* HEADER */

.header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#0b1f35;
    position:sticky;
    top:0;
    z-index:1000;

}


.logo{

    font-size:28px;
    font-weight:bold;
    color:#00ff88;

}



nav{

    display:flex;
    gap:20px;

}


nav a{

    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;

}


nav a:hover{

    color:#00ff88;

}





/* HERO */

.hero{

    text-align:center;
    padding:90px 20px;
    background:linear-gradient(135deg,#09203f,#005c45);

}


.hero h1{

    font-size:45px;
    margin-bottom:20px;

}



.hero p{

    font-size:20px;
    color:#ddd;
    margin-bottom:35px;

}



.btn{

    background:#00ff88;
    color:#001;
    padding:15px 35px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;

}





/* DASHBOARD */

.dashboard{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:50px;

}



.box{

    background:#102c49;
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:.3s;

}



.box:hover{

    transform:translateY(-8px);

}



.box i{

    font-size:40px;
    color:#00ff88;
    margin-bottom:20px;

}



.box h2{

    margin-bottom:15px;

}



.box p{

    color:#ccc;
    margin-bottom:20px;

}



.box a{

    background:#00ff88;
    color:#001;
    padding:10px 25px;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;

}





/* TOP PLAYERS */

.featured{

    padding:40px;
    text-align:center;

}



.featured h2{

    font-size:32px;
    margin-bottom:30px;

}



.players{

    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

}



.player-card{

    background:#102c49;
    padding:20px;
    width:220px;
    border-radius:20px;

}



.player-card img{

    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;

}



.player-card h3{

    margin-top:15px;

}





/* FOOTER */

footer{

    text-align:center;
    padding:25px;
    background:#0b1f35;
    color:#aaa;
    margin-top:40px;

}





/* MOBILE */

@media(max-width:700px){


.header{

    flex-direction:column;
    gap:20px;

}


nav{

    flex-wrap:wrap;
    justify-content:center;

}



.hero h1{

    font-size:30px;

}



.dashboard{

    padding:20px;

}


}
