/* ==========================
   ⚽ PREZISCORE 🇭🇹
   GLOBAL STYLE.CSS
========================== */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}



body{

    background:#050505;
    color:white;
    padding-bottom:80px;

}



a{

    text-decoration:none;
    color:white;

}



/* ==========================
   HEADER
========================== */


.header{

    background:#111;
    padding:20px;
    text-align:center;
    border-bottom:2px solid #00ff66;

}



.logo h1{

    font-size:28px;
}



.logo p{

    color:#aaa;
    margin-top:5px;

}



/* ==========================
   TITRE SECTION
========================== */


.section-title{

    padding:20px;

}



.section-title h2{

    font-size:22px;

}





/* ==========================
   CARDS
========================== */


.cards{

    padding:15px;

}



.match-card{

    background:#111;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #222;

}



.match-card:hover{

    border-color:#00ff66;

}





/* ==========================
   LIVE
========================== */


.live{

    border-left:5px solid red;

}



.league{

    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    color:#00ff66;

}





/* ==========================
   TEAMS
========================== */


.teams{

    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;

}



.teams img{

    width:60px;
    height:60px;
    object-fit:contain;

}



.teams h2,
.teams h3{

    font-size:25px;

}





/* ==========================
   BUTTON
========================== */


button{

    background:#00ff66;
    border:none;
    padding:12px 20px;
    border-radius:20px;
    font-weight:bold;

}





/* ==========================
   SEARCH
========================== */


input{

    width:90%;
    margin:15px;
    padding:12px;
    border-radius:20px;
    border:none;

}





/* ==========================
   BOTTOM MENU
========================== */


.bottom-nav{

    position:fixed;
    bottom:0;
    left:0;
    width:100%;

    background:#111;

    display:flex;
    justify-content:space-around;

    padding:12px 0;

    border-top:1px solid #333;

}



.bottom-nav a{

    text-align:center;
    font-size:12px;

}



.bottom-nav i{

    display:block;
    font-size:20px;
    margin-bottom:5px;

}



.bottom-nav .active{

    color:#00ff66;

}





/* ==========================
   ANIMATION
========================== */


.match-card{

    animation:fade .5s ease;

}



@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;

}

}
